/*
  Spacing Helpers

  Spacing helpers are quick but powerful classes that add margin or padding to
  any given element. These classes are `!important`, so they override all other
  styles.

  * `p`, `m`                          =   padding, margin
  * `a`, `t`, `r`, `b`, `l`, `h`, `v` =   all, top, right, bottom, left, horizontal, vertical
  * `s`, `m`, `l`, `n`                =   small (~`5px`), medium (~`10px`), large (~`20px`), none (`0`)

  For example: `.pam` means "padding, all, medium".

  **Note:** These are all based on the current element's font size and the
  project's vertical rhythm (even on the sides, to provide uniform spacing).
  As such, they require `_vars.less`.
*/
.ptn,
.pvn,
.pan {
  padding-top: 0 !important;
}

.pts,
.pvs,
.pas {
  padding-top: $quarter-vertical !important;
}

.ptm,
.pvm,
.pam {
  padding-top: $half-vertical !important;
}

.ptl,
.pvl,
.pal {
  padding-top: $full-vertical !important;
}

.prn,
.phn,
.pan {
  padding-right: 0 !important;
}

.prs,
.phs,
.pas {
  padding-right: $quarter-vertical !important;
}

.prm,
.phm,
.pam {
  padding-right: $half-vertical !important;
}

.prl,
.phl,
.pal {
  padding-right: $full-vertical !important;
}

.pbn,
.pvn,
.pan {
  padding-bottom: 0 !important;
}

.pbs,
.pvs,
.pas {
  padding-bottom: $quarter-vertical !important;
}

.pbm,
.pvm,
.pam {
  padding-bottom: $half-vertical !important;
}

.pbl,
.pvl,
.pal {
  padding-bottom: $full-vertical !important;
}

.pln,
.phn,
.pan {
  padding-left: 0 !important;
}

.pls,
.phs,
.pas {
  padding-left: $quarter-vertical !important;
}

.plm,
.phm,
.pam {
  padding-left: $half-vertical !important;
}

.pll,
.phl,
.pal {
  padding-left: $full-vertical !important;
}

.mtn,
.mvn,
.man {
  margin-top: 0 !important;
}

.mts,
.mvs,
.mas {
  margin-top: $quarter-vertical !important;
}

.mtm,
.mvm,
.mam {
  margin-top: $half-vertical !important;
}

.mtl,
.mvl,
.mal {
  margin-top: $full-vertical !important;
}

.mrn,
.mhn,
.man {
  margin-right: 0 !important;
}

.mrs,
.mhs,
.mas {
  margin-right: $quarter-vertical !important;
}

.mrm,
.mhm,
.mam {
  margin-right: $half-vertical !important;
}

.mrl,
.mhl,
.mal {
  margin-right: $full-vertical !important;
}

.mbn,
.mvn,
.man {
  margin-bottom: 0 !important;
}

.mbs,
.mvs,
.mas {
  margin-bottom: $quarter-vertical !important;
}

.mbm,
.mvm,
.mam {
  margin-bottom: $half-vertical !important;
}

.mbl,
.mvl,
.mal {
  margin-bottom: $full-vertical !important;
}

.mln,
.mhn,
.man {
  margin-left: 0 !important;
}

.mls,
.mhs,
.mas {
  margin-left: $quarter-vertical !important;
}

.mlm,
.mhm,
.mam {
  margin-left: $half-vertical !important;
}

.mll,
.mhl,
.mal {
  margin-left: $full-vertical !important;
}

