/*

Media Object

The Media Object is an image (or media-type) to the left with (typically)
descriptive content to the right. The media object can be whatever size it
wants, the basic format will remain the same. (Text will **not** wrap.)  This
has any number of applications, such as a checkbox next to a label with lots
of text.

See: [The Media Object Saves Hundreds of Lines of Code][1]

  [1]: http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/


````media-object
<div class="media-object">
    <figure>
        <img src="http://placehold.it/213" alt="A media object image">
    </figure>
    <div>
        <p>He is here. No! Alderaan is peaceful. We have no weapons. You can't possibly&hellip; Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here. I'm surprised you had the courage to take the responsibility yourself. The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</p>
    </div>
</div>
````

*/

.media-object {
  @extend .new-line;

  &,
  & > *,
  &__desc {
    overflow: hidden;
  }

  &--checkbox {
    // Extends
    @extend .group;

    /* Display & Box Model */
    display: inline-block;
    overflow: visible;

    > :first-child,
    .media-object__figure {
      // Extends
      @extend .float--left;

      /* Display & Box Model */
      margin-right: $quarter-side;
    }
  }

  > *,
  > :first-child img,
  &__figure img,
  &__desc {
    @extend .new-line;
  }
}

// Small Screens and onward
@media #{$small-screens-min} {
  .media-object {
    > :first-child,
    &__figure {
      max-width: 40%;
      margin-top: 0;
      margin-right: $full-side;
      float: left;
    }

    > *,
    &__desc {
      & > :first-child {
        margin-top: 0;
      }
    }
  }
}

// Medium Screens and onward
@media #{$medium-screens-min} {
  .media-object {
    > :first-child,
    &__figure {
      max-width: 50%;
    }
  }
}

/*
  Figures

  Great for integrating images into bodies of text, the `.figure` class is
  modified by the `--left` and `--right` keywords depending on where you would
  like it placed.
*/

.figure,
[class*="figure--"] {
  // Mixins
  @include margin-leader();

  > a,
  img {
    @extend .new-line;
  }
}

@media #{$small-screens-min} {
  [class*="figure--"] {
    margin-top: 0;
    max-width: 50%;
  }

  .figure {
    &--left,
    &--right {
      padding-bottom: $half-vertical;
    }

    &--left {
      float: left;
      padding-right: $double-side;
    }

    &--right {
      float: right;
      padding-left: $double-side;
    }
  }
}
