/*
  Panel

  Used to provide messaging to the user, whether it be direct or through calls to
  action. The panel typically indicates a visual separation and implied
  sub-grouping of its content.
*/

.panel,
[class*="panel-"],
[class*="-panel"] {

  // Mixins
  @include margin-leader();

  // Create
  padding: $full-vertical;
  background-color: lighten($light-grey, 14%);

  > :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

[class*="panel--thin"] {
  padding: $half-vertical;
}

.panel,
[class*="panel-"],
[class*="-panel"] {

  // Mixins
  @include margin-leader();

  // Create
  padding: $full-vertical;
  background-color: lighten($light-grey, 14%);

  > :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

[class*="panel--thin"] {
  padding: $half-vertical;
}

[class*="alert-panel"] {
  color: $white;
}

.alert-panel {
  background: $info-color;

  &--error {
    background: $error-color;
  }

  &--success {
    background: $success-color;
  }
}

