/*

Ratios

Ratios are used primarily for objects that must scale in both width and height
proportionally, such as embedded videos.

See: (http://daverupert.com/2012/04/uncle-daves-ol-padded-box/)

The `.ratio` class (and its modifier) are placed on a wrapping element, with
its child contents wrapped by the `.ratio__content` class.

    <div class="ratio--square">
        <div class="ratio__content">
            ...
        </div>
    </div>

For embedded videos, use the `.ratio--video` class, and it will assume an
`iframe` is the direct child:

    <div class="ratio--video">
        <iframe src="http://youtube.com/myVidEmbed"></iframe>
    </div>

*/

[class*="ratio"] {
  // Extends
  @extend .relative-container;

  &::before {
    // Extends
    @extend .new-line;

    /* Pretty */
    content: "";
  }
}

.ratio {
  &--video {
    &::before {
      // Vars
      $_16x9: ( 100% * ( 9 / 16 ) );

      /* Display & Box Model */
      padding-top: $_16x9;
    }
  }

  &--1x1,
  &--square {
    &::before {
      padding-top: 100%;
    }
  }

  &--2x1 {
    &::before {
      padding-top: 50%;
    }
  }

  &--1x2 {
    &::before {
      padding-top: 200%;
    }
  }
}

.ratio {
  &__content,
  &--video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
