/*

Form Validation

*/

/*

Input States

A couple of classes added to inputs (typically by a JS Validation plugin) that
alter the child elements to convey states of success and error.

    <label class="input-label is-erroneous">
        Text Field
        <input type="text" name="text" required>
    </label>

*/

.is-successful {
  input,
  textarea,
  select {
    border-color: $success-color;
  }
}

.is-erroneous {
  input,
  textarea,
  select {
    border-color: $error-color;
  }
}

/*

Form Messaging

Within labels, there are input alerts that apply to individual fields.

    <label class="input-label is-erroneous">
        Text Field
        <input type="text" name="text" required>
        <strong class="input-alert--error">
            This field is required.
        </strong>
    </label>

*/

[class*="input-alert"] {
  // Extends
  @extend .relative-container;
  @extend .body-text;

  /* Display & Box Model */
  display: inline-block;

  /* Pretty */
  color: $info-color;
}

.input-alert {
  &--warning {
    color: $warning-color;
  }

  &--error {
    color: $error-color;
  }

  &--success {
    color: $success-color;
  }
}
