@mixin background-linear-gradient(
  $stop1: 0,
  $color1: #aaa,
  $stop2: 100%,
  $color2: #bbb
) {
  background: $color2;
  background: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($stop1, $color1), color-stop($stop2, $color2));
  background: -webkit-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background: -o-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background: -ms-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background: linear-gradient(to bottom, $color1 $stop1, $color2 $stop2);
}

@mixin background-image-linear-gradient(
  $stop1: 0,
  $color1: #aaa,
  $stop2: 100%,
  $color2: #bbb
) {
  background-image: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop($stop1, $color1), color-stop($stop2, $color2));
  background-image: -webkit-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -o-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: -ms-linear-gradient(top, $color1 $stop1, $color2 $stop2);
  background-image: linear-gradient(to bottom, $color1 $stop1, $color2 $stop2);
}

@mixin background-linear-gradient-three-stops(
  $stop1: 0,
  $color1: #aaa,
  $stop2: 50%,
  $color2: #bbb,
  $stop3: 100%,
  $color3: #ccc
) {
  background: $color3 url("../images/gradient-highlight.png") repeat-x left bottom;
  background: -webkit-gradient(linear, top left, bottom left, color-stop($stop1, $color1), color-stop($stop2, $color2), color-stop($stop3, $color3));
  background: -webkit-linear-gradient(top, $color1 $stop1, $color2 $stop2, $color3 $stop3);
  background: -moz-linear-gradient(bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
  background: -o-linear-gradient(bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
  background: linear-gradient(to bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
}

@mixin background-image-linear-gradient-three-stops(
  $stop1: 0,
  $color1: #aaa,
  $stop2: 50%,
  $color2: #bbb,
  $stop3: 100%,
  $color3: #ccc
) {
  background-image: -webkit-gradient(linear, top, bottom, color-stop($stop1, $color1), color-stop($stop2, $color2), color-stop($stop3, $color3));
  background-image: -webkit-linear-gradient(top, $color1 $stop1, $color2 $stop2, $color3 $stop3);
  background-image: -moz-linear-gradient(bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
  background-image: -o-linear-gradient(bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
  background-image: linear-gradient(to bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
}

@mixin background-origin($background-origin: border-box) {
  -webkit-background-origin: $background-origin;
  -webkit-background-clip: $background-origin;
  -moz-background-origin: $background-origin;
  -moz-background-clip: $background-origin;
  background-origin: $background-origin;
  background-clip: $background-origin;
}

@mixin background-linear-gradient-horizontal(
  $stop1: 0,
  $color1: #aaa,
  $stop2: 100%,
  $color2: #bbb
) {
  background: $color2; /* Old browsers */
  background: -moz-linear-gradient(left, $color1 $stop1, $color2 $stop2); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop($stop1, $color1), color-stop($stop2, $color2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, $color1 $stop1, $color2 $stop2); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, $color1 $stop1, $color2 $stop2); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, $color1 $stop1, $color2 $stop2); /* IE10+ */
  background: linear-gradient(to right, $color1 $stop1, $color2 $stop2); /* W3C */
}
