@mixin border-radius($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top($radius: 10px) {
  -webkit-border-top-right-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topright: $radius;
  -moz-border-radius-topleft: $radius;
  -o-border-top-right-radius: $radius;
  -o-border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-bottom($radius: 10px) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  -o-border-bottom-right-radius: $radius;
  -o-border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-left($radius: 10px) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-topleft: $radius;
  -o-border-bottom-left-radius: $radius;
  -o-border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-right($radius: 10px) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-topright: $radius;
  -o-border-bottom-right-radius: $radius;
  -o-border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-top-left($radius: 10px) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -o-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-top-right($radius: 10px) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -o-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-bottom-left($radius: 10px) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -o-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-bottom-right($radius: 10px) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -o-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}
