@mixin box-shadow(
  $shadow-x: 0,
  $shadow-y: 0,
  $shadow-rad: 10px,
  $shadow-color: #CCC
) {
  -webkit-box-shadow: $shadow-x $shadow-y $shadow-rad $shadow-color;
  -moz-box-shadow: $shadow-x $shadow-y $shadow-rad $shadow-color;
  -o-box-shadow: $shadow-x $shadow-y $shadow-rad $shadow-color;
  box-shadow: $shadow-x $shadow-y $shadow-rad $shadow-color;
}

@mixin box-shadow-inset(
  $shadow-x: 0,
  $shadow-y: 0,
  $shadow-rad: 10px,
  $shadow-color: #CCC
) {
  -webkit-box-shadow: inset $shadow-x $shadow-y $shadow-rad $shadow-color;
  -moz-box-shadow: inset $shadow-x $shadow-y $shadow-rad $shadow-color;
  -o-box-shadow: inset $shadow-x $shadow-y $shadow-rad $shadow-color;
  box-shadow: inset $shadow-x $shadow-y $shadow-rad $shadow-color;
}

@mixin box-shadow-in-out(
  $in-arguments,
  $out-arguments
) {
  -webkit-box-shadow: inset $in-arguments, $out-arguments;
  -moz-box-shadow: inset $in-arguments, $out-arguments;
  -o-box-shadow: inset $in-arguments, $out-arguments;
  box-shadow: inset $in-arguments, $out-arguments;
}

@mixin box-shadow-two(
  $first-arguments,
  $second-arguments
) {
  -webkit-box-shadow: $first-arguments, $second-arguments;
  -moz-box-shadow: $first-arguments, $second-arguments;
  -o-box-shadow: $first-arguments, $second-arguments;
  box-shadow: $first-arguments, $second-arguments;
}

@mixin box-shadow-none() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

@mixin box-shadow-raw($arguments) {
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  -o-box-shadow: $arguments;
  box-shadow: $arguments;
}
