@mixin m-button-color($background, $border, $color: $white ) {
  background-color: $background;
  border-color: $border;

  &,
  &:hover,
  &:focus,
  &.is-current {
    color: $color;
  }

  &:hover,
  &:focus,
  &.is-current {
    background-color: darken($background, 15%);
    border-color: darken($border, 15%);
  }
}
