// // Set @total-width to 100% for a fluid layout
// @total-width: 960px;

// Clearfix Mixin
@mixin clearfix() {
  &::before,
  &::after {
    content: "\0020";
    height: 0;
    display: block;
    overflow: hidden;
  }

  &::after {
    clear: both;
  }
}

// Columns
// $total-columns: 12;

// Gutters
$base-gutter: 36;
$xs-gutter: 24;
$sm-gutter: $xs-gutter;
$md-gutter: 32;
$lg-gutter: $base-gutter;
$xl-gutter: $lg-gutter;

// Break Points
$bp-xs-width: 320; // ???
$bp-sm-width: 480; // ??? This one might need to be bigger
$bp-md-width: 768;
$bp-lg-width: 992;
$bp-xl-width: 1240;

/**
 * Title: Dirclass
 * Description: Truncates the flex-direction value to form a shorter classname
 */
@function dirclass($direction) {
  @if $direction == column {
    @return col;
  }

  @else {
    @return $direction;
  }
}

@mixin grid-container($break-point, $direction, $min-width: null, $media: all) {
  @if $min-width != null {
    @media #{$media} and (min-width: to-rem($min-width, 14)) {
      .#{dirclass($direction)}-#{$break-point} {
        flex-direction: $direction;
      }
    }
  }

  @else {
    .#{dirclass($direction)}-#{$break-point} {
      flex-direction: $direction;
    }
  }
}

@mixin grid-container-only($break-point, $direction, $max-width: null, $min-width: null, $media: all) {
  @if $min-width != null {
    @media #{$media} and (min-width: to-rem($min-width, 14)) and (max-width: to-rem($max-width, 14)) {
      .#{dirclass($direction)}-o#{$break-point} {
        flex-direction: $direction;
      }
    }
  }

  @else {
    @media #{$media} and (max-width: to-rem($max-width, 14)) {
      .#{dirclass($direction)}-o#{$break-point} {
        flex-direction: $direction;
      }
    }
  }
}

@mixin grid-column($break-point, $min-width, $media: all) {
  @media #{$media} and (min-width: to-rem($min-width, 14)) {
    @for $i from 1 through $total-columns {
      .g#{$break-point}-#{$i} {
        flex-basis: to-percent($i, $total-columns);
        max-width: to-percent($i, $total-columns);
      }
    }
  }
}

@mixin grid-column-only($break-point, $min-width, $max-width, $media: all) {
  @media #{$media} and (min-width: to-rem($min-width, 14)) and (max-width: to-rem($max-width - 1, 14)) {
    @for $i from 1 through $total-columns {
      .go#{$break-point}-#{$i} {
        flex-basis: to-percent($i, $total-columns);
        max-width: to-percent($i, $total-columns);
      }
    }
  }
}
