@mixin remove-styles() {
  /* Mixins */
  @include box-shadow-none();

  /* Display & Box Model */
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;

  /* Other */
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-shadow: none;
}

@mixin pseudo-clear() {
  content: "";
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  display: block;
}

@mixin hasLayout() {
  .lte7 & {
    display: inline;
    zoom: 1;
  }
}

@mixin inline-block-fallback() {
  display: inline-block;

  // Mixins
  @include hasLayout();
}

@mixin hidden() {
  display: none !important;
  visibility: hidden;
}

@mixin word-wrap() {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

// http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/
@mixin visually-hidden() {
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;

  &.focusable:active,
  &.focusable:focus {
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
    overflow: visible;
    position: static;
  }

  body:hover & {
    a,
    input,
    button {
      display: none;
    }
  }
}

@mixin show-hidden() {
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  clip: auto;

  body:hover & {
    a,
    input,
    button {
      /* Mixins */
      @include inline-block-fallback();
    }
  }
}
