// Calculate rhythm units.
@mixin rhythm(
  $prop: margin-top,
  $lines: 1,
  $size: $base-text-size,
  $vertical: $base-vertical
) {
  /* Variables */
  $rhythm: $lines * $vertical;
  $rhythm-em: $rhythm / $size;

  @if $prop == margin-top {
    margin-top: '#{$rhythm-em}em';
  }

  @else if $prop == margin-bottom {
    margin-bottom: '#{$rhythm-em}em';
  }

  @else if $prop == padding-top {
    padding-top: '#{$rhythm-em}em';
  }

  @else if $prop == padding-bottom {
    padding-bottom: '#{$rhythm-em}em';
  }
}

//Apply leading whitespace as margin.
@mixin margin-leader($lines: 1, $font-size: $base-text-size) {
  @include rhythm(margin-top, $lines, $font-size);
}

@mixin margin-trailer($lines: 1, $font-size: $base-text-size) {
  @include rhythm(margin-bottom, $lines, $font-size);
}

@mixin margin-vertical($lines: 1, $font-size: $base-text-size) {
  @include rhythm(margin-top, $lines, $font-size);
  @include rhythm(margin-bottom, $lines, $font-size);
}

@mixin padding-leader($lines: 1, $font-size: $base-text-size) {
  @include rhythm(padding-top, $lines, $font-size);
}

@mixin padding-trailer($lines: 1, $font-size: $base-text-size) {
  @include rhythm(padding-bottom, $lines, $font-size);
}

@mixin padding-vertical($lines: 1, $font-size: $base-text-size) {
  @include rhythm(padding-top, $lines, $font-size);
  @include rhythm(padding-bottom, $lines, $font-size);
}
