@function to-percent($i, $total) {
  @return 100% * ($i / $total);
}

@function to-em($value, $context) {
  @return 1em * ($value / $context);
}

@function to-rem($value, $context) {
  @return 1rem * ($value / $context);
}
