/*
  Interactive Elements
*/

/*
  Buttons

  Default interactive button styles. This `.btn` class can be applied to `<a>`,
  `<button>`, or `<input>` elements. Button color and style classes can be combined
  with size classes, much like the type modules.
*/

.btn,
[class*="btn"] {
  /* Display & Box Model */
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0;
  padding: $half-vertical $full-side;

  /* Position */
  position: relative;
  overflow: visible;

  /* Other */
  background-clip: padding-box;
  background-color: $light-grey;
  color: $light-black;
  cursor: pointer;
  line-height: normal;
  outline: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;

  @include margin-leader();

  p > & {
    margin-top: 0;
  }

  &:hover,
  &:focus,
  &.is-current {
    background: lighten($light-grey, 10%);
  }
}

.btn {
  &--tiny {
    // Mixins
    // $TODO: Extend?
    @include size-for-font($petite-text-size);

    // Create
    padding: $quarter-vertical $half-side;
  }

  &--small {
    // $TODO: Extend?
    @include size-for-font($petite-text-size);
  }

  &--large {
    // $TODO: Extend?
    @include size-for-font($tertia-text-size);
  }

  &--full-width {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
