/*
  Link Styles

  Very basic stuff. The primary link color can be altered in the `_config.less`
  file. Hover, focus, and current states are accounted for.
*/
a,
.link {
  color: $primary-link-color;

  &:hover,
  &:focus,
  &.is-current {
    color: $primary-link-hover;
  }
}

/*
  Unlink

  Basic class to remove some link styling.
  $TODO: Put in `_presentational.less` file?
*/
.unlink {
  text-decoration: none;
}
