.row,
.col {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.col {
  flex-direction: column;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

/* FIX ME: NOPE NOPE NOPE */
[class="row"] > [class*="gi"] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/**
 * Title: Grid Column Classes
 *
 * Description: Generates all of traditional column classes for the grid system
 * Dependencies:
 * - config/_grid.scss
 * - mixins/_m-grid.scss
 *
 * Docs: http://getingot.io/grid
 */
@each $break-point in $break-points {
  $min-width: nth($break-point-values, index($break-points, $break-point));

  // Don't wrap Extra Small grid system in media query
  @if $break-point == xs {
    $max-width: nth($break-point-values, index($break-points, $break-point) + 1);
    $media: all;

    @include grid-container-only($break-point, row, $max-width);
    @include grid-container-only($break-point, column, $max-width);

    @for $i from 1 through $total-columns {
      .gi#{$break-point}-#{$i} {
        flex-basis: to-percent($i, $total-columns);
        max-width: to-percent($i, $total-columns);
      }
    }

    @media #{$media} and (max-width: to-rem($max-width - 1, 14)) {
      @for $i from 1 through $total-columns {
        .gio#{$break-point}-#{$i} {
          flex-basis: to-percent($i, $total-columns);
          max-width: to-percent($i, $total-columns);
        }
      }
    }
  }

  // Small
  @if $break-point == sm {
    $max-width: nth($break-point-values, index($break-points, $break-point) + 1);

    // Containers
    @include grid-container($break-point, row, $min-width);
    @include grid-container($break-point, column, $min-width);
    @include grid-container-only($break-point, row, $max-width, $min-width);
    @include grid-container-only($break-point, column, $max-width, $min-width);

    // Column Classes
    @include grid-column($break-point, $min-width);
    @include grid-column-only($break-point, $min-width, $max-width);
  }

  // Medium
  @if $break-point == md {
    $max-width: nth($break-point-values, index($break-points, $break-point) + 1);

    // Container Classes
    @include grid-container($break-point, row, $min-width);
    @include grid-container($break-point, column, $min-width);
    @include grid-container-only($break-point, row, $max-width, $min-width);
    @include grid-container-only($break-point, column, $max-width, $min-width);

    // Column Classes
    @include grid-column($break-point, $min-width);
    @include grid-column-only($break-point, $min-width, $max-width);
  }

  // Large
  @if $break-point == lg {
    $max-width: nth($break-point-values, index($break-points, $break-point) + 1);

    // Container Classes
    @include grid-container($break-point, row, $min-width);
    @include grid-container($break-point, column, $min-width);
    @include grid-container-only($break-point, row, $max-width, $min-width);
    @include grid-container-only($break-point, column, $max-width, $min-width);

    // Column Classes
    @include grid-column($break-point, $min-width);
    @include grid-column-only($break-point, $min-width, $max-width);
  }

  // Extra Large
  @if $break-point == xl {
    @include grid-column($break-point, $min-width);
  }
}

// #### Grid Config Options
// ```
// // Columns
// $total-columns: 12;

// // Gutters
// $base-gutter: 36;
// $xs-gutter: 24;
// $sm-gutter: $xs-margin;
// $md-gutter: 32;
// $lg-gutter: $base-gutter;
// $xl-gutter: $lg-gutter;

// // Break Points
// $bp-xs-width: 320; ???
// $bp-sm-width: 480; ??? This one might need to be bigger
// $bp-md-width: 768;
// $bp-lg-width: 992;
// $bp-xl-width: 1240;
// ```

// ####  Grid Container Row
// ```
// .row (base up)
// .row-oxs (xtra small only)
// .row-osm (small only)
// .row-sm (small up)
// .row-omd (medium only)
// .row-md (medium up)
// .row-olg (large only)
// .row-lg (large up)
// .row-xl (xtra large up)
// ```

// #### Grid Container Column
// ```
// .col (base up)
// .col-oxs (xtra small only)
// .col-osm (small only)
// .col-sm (small up)
// .col-omd (medium only)
// .col-md (medium up)
// .col-olg (large only)
// .col-lg (large up)
// .col-xl (xtra large up)
// ```

// #### Grid Item Classes
// ```
// .g{only}{break-point}-{size} (
// 	examples:
// 	.gosx-8 (xtra small only size 8)
// 	.gsx-8 (xtra small up)
// )
// ```
