@import "_grid.scss";
@import "_type.scss";
@import "_colors.scss";

// For line-height in .type-size mixin
$round-to-nearest: quarter;

// Vertical Rhythm
$base-vertical: 20;

// Border Variables
$default-border-width: 1;
$default-border-radius: 3;

// Form Variables
$input-border: $default-border-width;
$input-padding: 4;
$input-background-color: $white;
$input-border-color: $light-grey;
$label-required-color: $blue;

// Table Variables
$table-border-color: $light-grey;

// Typographic Variables
$primary-text-color: $light-black;
$secondary-text-color: $dark-grey;
$inverse-text-color: $white;
$button-color: $inverse-text-color;

// Header Variables
$primary-header-color: $blue;
$secondary-header-color: $blue;
$header-highlight-color: $light-blue;
$inverse-header-color: $light-blue;

// Link Variables
$primary-link-color: $blue;
$primary-link-hover: $dark-blue;

// Form Variables
$active-color: $blue;
$warning-color: $dark-yellow;
$success-color: $green;
$error-color: $red;
$info-color: $dark-blue;

// Sprite Variables
$sprite-grid: 50px;
