// Grid Variables
$base-column: 47;
$base-margin: 36;
$total-columns: 12;

// Tablet Grid
$tablet-total-cols: 9;

// Mobile Grid
$mobile-total-cols: 4;

// Responsive Breakpoints
$bp-small-width: 480;
$bp-medium-width: 768;
$bp-large-width: 992;
$bp-x-large-width: 1240;

// New way Responsive Breakpoints
$break-points: 'xs', 'sm', 'md', 'lg', 'xl';
$break-point-values: 320, 480, 768, 992, 1240;
$bp-xs-width: 320; // ???
$bp-sm-width: 480; // ??? This one might need to be bigger
$bp-md-width: 768;
$bp-lg-width: 992;
$bp-xl-width: 1240;
