/* Typographic Scale */
// $inch-text-size: --;
$canon-text-size: 38;
$paragon-text-size: 30;
$primer-text-size: 24;
$tertia-text-size: 18;
$normal-text-size: 14;
$petite-text-size: 12;
// $minion-text-size: --;

// Baseline Typography
$base-text-size: $normal-text-size;

// Change this if `html` !== `100%`
$root-text-size: 16;

/* Font Declarations */
$stack-serif: "Times New Roman", Times, Georgia, serif;
$stack-sans-serif: Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", sans-serif;
$stack-slab-serif: "Courier New", Courier, serif;
$stack-mono: Courier, monospace;
$stack-icons: "icons";

// Ex:
// $source-sans-regular: "Source Sans Pro", $stack-sans-serif;
