//
// Helpful Variables
//
// Mostly spacing, to be honest.
//

// Horizontal Margins
//
// Take the base grid margin, divide it (if necessary), then divide
// the result by the `body`'s base text size. Convert to ems.
$full-side: 1rem * (($base-margin / 2) / $root-text-size);
$half-side: 1rem * (($base-margin / 4) / $root-text-size);
$quarter-side: 1rem * (($base-margin / 8) / $root-text-size);
$double-side: 1rem * ($base-margin / $root-text-size);

// Minus Border
//
// Ditto, but subtract the project's default border width before
// dividing by the base text size.
$full-side-bordered: 1rem * ((($base-margin / 2) - $default-border-width) / $root-text-size);
$half-side-bordered: 1rem * ((($base-margin / 4) - $default-border-width) / $root-text-size);
$quarter-side-bordered: 1rem * ((($base-margin / 8) - $default-border-width) / $root-text-size);
$double-side-bordered: 1rem * (($base-margin - $default-border-width) / $root-text-size);

// Vertical Margins
//
// Take the base vertical unit, divide it (if necessary), then divide
// the result by the `body`'s base text size. Convert to ems.

$full-vertical: 1rem * ($base-vertical / $root-text-size);
$half-vertical: 1rem * (($base-vertical / 2) / $root-text-size);
$quarter-vertical: 1rem * (($base-vertical / 4) / $root-text-size);
$eighth-vertical: 1rem * (($base-vertical / 8) / $root-text-size);
$double-vertical: 1rem * (($base-vertical * 2) / $root-text-size);

// Minus Border
//
// Ditto, but subtract the project's default border width before
// dividing by the base text size.

$full-vertical-bordered: 1rem * (($base-vertical - $default-border-width) / $root-text-size);
$half-vertical-bordered: 1rem * ((($base-vertical / 2) - $default-border-width) / $root-text-size);
$quarter-vertical-bordered: 1rem * ((($base-vertical / 4) - $default-border-width) / $root-text-size);
$double-vertical-bordered: 1rem * ((($base-vertical * 2) - $default-border-width) / $root-text-size);

// Misc

$default-radius: 1rem * ($default-border-radius / $root-text-size);
$border-width: 1rem * ($default-border-width / $root-text-size);
$grid-width: 1rem * (((($base-column + $base-margin) * $total-columns) - $base-margin) / $root-text-size);
$full-grid-width: 1rem * ((($base-column + $base-margin) * $total-columns) / $root-text-size);

// Media Query Vars

// Breakpoint min and max values
$mq-base-max: 1em * (( $bp-small-width - 1) / $root-text-size);
$mq-small-min: 1em * ($bp-small-width / $root-text-size);
$mq-small-max: 1em * (($bp-medium-width - 1) / $root-text-size);
$mq-medium-min: 1em * ($bp-medium-width / $root-text-size);
$mq-medium-max: 1em * (( $bp-large-width - 1) / $root-text-size);
$mq-large-min: 1em * ($bp-large-width / $root-text-size);
$mq-large-max: 1em * (($bp-x-large-width - 1) / $root-text-size);
$mq-x-large-min: 1em * ($bp-x-large-width / $root-text-size);

// `@media` responsive strings

// Base
$base-screens-max: "all and (max-width: #{$mq-base-max})";

// Small
$small-screens-max: "all and (max-width: #{$mq-small-max})";
$small-screens-only: "all and (min-width: #{$mq-small-min}) and (max-width: #{$mq-small-max})";
$small-screens-min: "all and (min-width: #{$mq-small-min})";

// Medium
$medium-screens-max: "all and (max-width: #{$mq-medium-max})";
$medium-screens-only: "all and (min-width: #{$mq-medium-min}) and (max-width: #{$mq-medium-max})";
$medium-screens-min: "all and (min-width: #{$mq-medium-min})";

// Large
$large-screens-max: "all and (max-width: #{$mq-large-max})";
$large-screens-only: "all and (min-width: #{$mq-large-min}) and (max-width: #{$mq-large-max})";
$large-screens-min: "all and (min-width: #{$mq-large-min})";

// Extra Large
$x-large-screens-min: "all and (min-width: #{$mq-x-large-min})";

// Pixel equivalents
$_1px: 1rem * (1 / $root-text-size);
$_2px: 1rem * (2 / $root-text-size);
$_3px: 1rem * (3 / $root-text-size);
$_4px: 1rem * (4 / $root-text-size);
$_5px: 1rem * (5 / $root-text-size);
$_6px: 1rem * (6 / $root-text-size);
$_7px: 1rem * (7 / $root-text-size);
$_8px: 1rem * (8 / $root-text-size);
$_9px: 1rem * (9 / $root-text-size);
$_10px: 1rem * (10 / $root-text-size);
$_11px: 1rem * (11 / $root-text-size);
$_12px: 1rem * (12 / $root-text-size);
$_13px: 1rem * (13 / $root-text-size);
$_14px: 1rem * (14 / $root-text-size);
$_15px: 1rem * (15 / $root-text-size);
$_16px: 1rem * (16 / $root-text-size);
$_17px: 1rem * (17 / $root-text-size);
$_18px: 1rem * (18 / $root-text-size);
$_19px: 1rem * (19 / $root-text-size);
$_20px: 1rem * (20 / $root-text-size);
$_21px: 1rem * (21 / $root-text-size);
$_22px: 1rem * (22 / $root-text-size);
$_23px: 1rem * (23 / $root-text-size);
$_24px: 1rem * (24 / $root-text-size);
$_25px: 1rem * (25 / $root-text-size);
$_26px: 1rem * (26 / $root-text-size);
$_27px: 1rem * (27 / $root-text-size);
$_28px: 1rem * (28 / $root-text-size);
$_29px: 1rem * (29 / $root-text-size);
$_30px: 1rem * (30 / $root-text-size);
$_31px: 1rem * (31 / $root-text-size);
$_32px: 1rem * (32 / $root-text-size);
$_33px: 1rem * (33 / $root-text-size);
$_34px: 1rem * (34 / $root-text-size);
$_35px: 1rem * (35 / $root-text-size);
$_36px: 1rem * (36 / $root-text-size);
$_37px: 1rem * (37 / $root-text-size);
$_38px: 1rem * (38 / $root-text-size);
$_39px: 1rem * (39 / $root-text-size);
$_40px: 1rem * (40 / $root-text-size);
$_41px: 1rem * (41 / $root-text-size);
$_42px: 1rem * (42 / $root-text-size);
$_43px: 1rem * (43 / $root-text-size);
$_44px: 1rem * (44 / $root-text-size);
$_45px: 1rem * (45 / $root-text-size);
$_46px: 1rem * (46 / $root-text-size);
$_47px: 1rem * (47 / $root-text-size);
$_48px: 1rem * (48 / $root-text-size);
$_49px: 1rem * (49 / $root-text-size);
$_50px: 1rem * (50 / $root-text-size);
$_51px: 1rem * (51 / $root-text-size);
$_52px: 1rem * (52 / $root-text-size);
$_53px: 1rem * (53 / $root-text-size);
$_54px: 1rem * (54 / $root-text-size);
$_55px: 1rem * (55 / $root-text-size);
$_56px: 1rem * (56 / $root-text-size);
$_57px: 1rem * (57 / $root-text-size);
$_58px: 1rem * (58 / $root-text-size);
$_59px: 1rem * (59 / $root-text-size);
$_60px: 1rem * (60 / $root-text-size);
$_61px: 1rem * (61 / $root-text-size);
$_62px: 1rem * (62 / $root-text-size);
$_63px: 1rem * (63 / $root-text-size);
$_64px: 1rem * (64 / $root-text-size);
$_65px: 1rem * (65 / $root-text-size);
$_66px: 1rem * (66 / $root-text-size);
$_67px: 1rem * (67 / $root-text-size);
$_68px: 1rem * (68 / $root-text-size);
$_69px: 1rem * (69 / $root-text-size);
$_70px: 1rem * (70 / $root-text-size);
$_71px: 1rem * (71 / $root-text-size);
$_72px: 1rem * (72 / $root-text-size);
$_73px: 1rem * (73 / $root-text-size);
$_74px: 1rem * (74 / $root-text-size);
$_75px: 1rem * (75 / $root-text-size);
$_76px: 1rem * (76 / $root-text-size);
$_77px: 1rem * (77 / $root-text-size);
$_78px: 1rem * (78 / $root-text-size);
$_79px: 1rem * (79 / $root-text-size);
$_80px: 1rem * (80 / $root-text-size);
$_81px: 1rem * (81 / $root-text-size);
$_82px: 1rem * (82 / $root-text-size);
$_83px: 1rem * (83 / $root-text-size);
$_84px: 1rem * (84 / $root-text-size);
$_85px: 1rem * (85 / $root-text-size);
$_86px: 1rem * (86 / $root-text-size);
$_87px: 1rem * (87 / $root-text-size);
$_88px: 1rem * (88 / $root-text-size);
$_89px: 1rem * (89 / $root-text-size);
$_90px: 1rem * (90 / $root-text-size);
$_91px: 1rem * (91 / $root-text-size);
$_92px: 1rem * (92 / $root-text-size);
$_93px: 1rem * (93 / $root-text-size);
$_94px: 1rem * (94 / $root-text-size);
$_95px: 1rem * (95 / $root-text-size);
$_96px: 1rem * (96 / $root-text-size);
$_97px: 1rem * (97 / $root-text-size);
$_98px: 1rem * (98 / $root-text-size);
$_99px: 1rem * (99 / $root-text-size);
$_100px: 1rem * (100 / $root-text-size);
$_101px: 1rem * (101 / $root-text-size);
$_102px: 1rem * (102 / $root-text-size);
$_103px: 1rem * (103 / $root-text-size);
$_104px: 1rem * (104 / $root-text-size);
$_105px: 1rem * (105 / $root-text-size);
$_106px: 1rem * (106 / $root-text-size);
$_107px: 1rem * (107 / $root-text-size);
$_108px: 1rem * (108 / $root-text-size);
$_109px: 1rem * (109 / $root-text-size);
$_110px: 1rem * (110 / $root-text-size);
$_111px: 1rem * (111 / $root-text-size);
$_112px: 1rem * (112 / $root-text-size);
$_113px: 1rem * (113 / $root-text-size);
$_114px: 1rem * (114 / $root-text-size);
$_115px: 1rem * (115 / $root-text-size);
$_116px: 1rem * (116 / $root-text-size);
$_117px: 1rem * (117 / $root-text-size);
$_118px: 1rem * (118 / $root-text-size);
$_119px: 1rem * (119 / $root-text-size);
$_120px: 1rem * (120 / $root-text-size);
$_121px: 1rem * (121 / $root-text-size);
$_122px: 1rem * (122 / $root-text-size);
$_123px: 1rem * (123 / $root-text-size);
$_124px: 1rem * (124 / $root-text-size);
$_125px: 1rem * (125 / $root-text-size);
$_126px: 1rem * (126 / $root-text-size);
$_127px: 1rem * (127 / $root-text-size);
$_128px: 1rem * (128 / $root-text-size);
$_129px: 1rem * (129 / $root-text-size);
$_130px: 1rem * (130 / $root-text-size);
$_131px: 1rem * (131 / $root-text-size);
$_132px: 1rem * (132 / $root-text-size);
$_133px: 1rem * (133 / $root-text-size);
$_134px: 1rem * (134 / $root-text-size);
$_135px: 1rem * (135 / $root-text-size);
$_136px: 1rem * (136 / $root-text-size);
$_137px: 1rem * (137 / $root-text-size);
$_138px: 1rem * (138 / $root-text-size);
$_139px: 1rem * (139 / $root-text-size);
$_140px: 1rem * (140 / $root-text-size);
$_141px: 1rem * (141 / $root-text-size);
$_142px: 1rem * (142 / $root-text-size);
$_143px: 1rem * (143 / $root-text-size);
$_144px: 1rem * (144 / $root-text-size);
$_145px: 1rem * (145 / $root-text-size);
$_146px: 1rem * (146 / $root-text-size);
$_147px: 1rem * (147 / $root-text-size);
$_148px: 1rem * (148 / $root-text-size);
$_149px: 1rem * (149 / $root-text-size);
$_150px: 1rem * (150 / $root-text-size);
$_151px: 1rem * (151 / $root-text-size);
$_152px: 1rem * (152 / $root-text-size);
$_153px: 1rem * (153 / $root-text-size);
$_154px: 1rem * (154 / $root-text-size);
$_155px: 1rem * (155 / $root-text-size);
$_156px: 1rem * (156 / $root-text-size);
$_157px: 1rem * (157 / $root-text-size);
$_158px: 1rem * (158 / $root-text-size);
$_159px: 1rem * (159 / $root-text-size);
$_160px: 1rem * (160 / $root-text-size);
$_161px: 1rem * (161 / $root-text-size);
$_162px: 1rem * (162 / $root-text-size);
$_163px: 1rem * (163 / $root-text-size);
$_164px: 1rem * (164 / $root-text-size);
$_165px: 1rem * (165 / $root-text-size);
$_166px: 1rem * (166 / $root-text-size);
$_167px: 1rem * (167 / $root-text-size);
$_168px: 1rem * (168 / $root-text-size);
$_169px: 1rem * (169 / $root-text-size);
$_170px: 1rem * (170 / $root-text-size);
$_171px: 1rem * (171 / $root-text-size);
$_172px: 1rem * (172 / $root-text-size);
$_173px: 1rem * (173 / $root-text-size);
$_174px: 1rem * (174 / $root-text-size);
$_175px: 1rem * (175 / $root-text-size);
$_176px: 1rem * (176 / $root-text-size);
$_177px: 1rem * (177 / $root-text-size);
$_178px: 1rem * (178 / $root-text-size);
$_179px: 1rem * (179 / $root-text-size);
$_180px: 1rem * (180 / $root-text-size);
$_181px: 1rem * (181 / $root-text-size);
$_182px: 1rem * (182 / $root-text-size);
$_183px: 1rem * (183 / $root-text-size);
$_184px: 1rem * (184 / $root-text-size);
$_185px: 1rem * (185 / $root-text-size);
$_186px: 1rem * (186 / $root-text-size);
$_187px: 1rem * (187 / $root-text-size);
$_188px: 1rem * (188 / $root-text-size);
$_189px: 1rem * (189 / $root-text-size);
$_190px: 1rem * (190 / $root-text-size);
$_191px: 1rem * (191 / $root-text-size);
$_192px: 1rem * (192 / $root-text-size);
$_193px: 1rem * (193 / $root-text-size);
$_194px: 1rem * (194 / $root-text-size);
$_195px: 1rem * (195 / $root-text-size);
$_196px: 1rem * (196 / $root-text-size);
$_197px: 1rem * (197 / $root-text-size);
$_198px: 1rem * (198 / $root-text-size);
$_199px: 1rem * (199 / $root-text-size);
$_200px: 1rem * (200 / $root-text-size);
$_201px: 1rem * (201 / $root-text-size);
$_202px: 1rem * (202 / $root-text-size);
$_203px: 1rem * (203 / $root-text-size);
$_204px: 1rem * (204 / $root-text-size);
$_205px: 1rem * (205 / $root-text-size);
$_206px: 1rem * (206 / $root-text-size);
$_207px: 1rem * (207 / $root-text-size);
$_208px: 1rem * (208 / $root-text-size);
$_209px: 1rem * (209 / $root-text-size);
$_210px: 1rem * (210 / $root-text-size);
$_211px: 1rem * (211 / $root-text-size);
$_212px: 1rem * (212 / $root-text-size);
$_213px: 1rem * (213 / $root-text-size);
$_214px: 1rem * (214 / $root-text-size);
$_215px: 1rem * (215 / $root-text-size);
$_216px: 1rem * (216 / $root-text-size);
$_217px: 1rem * (217 / $root-text-size);
$_218px: 1rem * (218 / $root-text-size);
$_219px: 1rem * (219 / $root-text-size);
$_220px: 1rem * (220 / $root-text-size);
$_221px: 1rem * (221 / $root-text-size);
$_222px: 1rem * (222 / $root-text-size);
$_223px: 1rem * (223 / $root-text-size);
$_224px: 1rem * (224 / $root-text-size);
$_225px: 1rem * (225 / $root-text-size);
$_226px: 1rem * (226 / $root-text-size);
$_227px: 1rem * (227 / $root-text-size);
$_228px: 1rem * (228 / $root-text-size);
$_229px: 1rem * (229 / $root-text-size);
$_230px: 1rem * (230 / $root-text-size);
$_231px: 1rem * (231 / $root-text-size);
$_232px: 1rem * (232 / $root-text-size);
$_233px: 1rem * (233 / $root-text-size);
$_234px: 1rem * (234 / $root-text-size);
$_235px: 1rem * (235 / $root-text-size);
$_236px: 1rem * (236 / $root-text-size);
$_237px: 1rem * (237 / $root-text-size);
$_238px: 1rem * (238 / $root-text-size);
$_239px: 1rem * (239 / $root-text-size);
$_240px: 1rem * (240 / $root-text-size);
$_241px: 1rem * (241 / $root-text-size);
$_242px: 1rem * (242 / $root-text-size);
$_243px: 1rem * (243 / $root-text-size);
$_244px: 1rem * (244 / $root-text-size);
$_245px: 1rem * (245 / $root-text-size);
$_246px: 1rem * (246 / $root-text-size);
$_247px: 1rem * (247 / $root-text-size);
$_248px: 1rem * (248 / $root-text-size);
$_249px: 1rem * (249 / $root-text-size);
$_250px: 1rem * (250 / $root-text-size);
$_251px: 1rem * (251 / $root-text-size);
$_252px: 1rem * (252 / $root-text-size);
$_253px: 1rem * (253 / $root-text-size);
$_254px: 1rem * (254 / $root-text-size);
$_255px: 1rem * (255 / $root-text-size);
$_256px: 1rem * (256 / $root-text-size);
$_257px: 1rem * (257 / $root-text-size);
$_258px: 1rem * (258 / $root-text-size);
$_259px: 1rem * (259 / $root-text-size);
$_260px: 1rem * (260 / $root-text-size);
$_261px: 1rem * (261 / $root-text-size);
$_262px: 1rem * (262 / $root-text-size);
$_263px: 1rem * (263 / $root-text-size);
$_264px: 1rem * (264 / $root-text-size);
$_265px: 1rem * (265 / $root-text-size);
$_266px: 1rem * (266 / $root-text-size);
$_267px: 1rem * (267 / $root-text-size);
$_268px: 1rem * (268 / $root-text-size);
$_269px: 1rem * (269 / $root-text-size);
$_270px: 1rem * (270 / $root-text-size);
$_271px: 1rem * (271 / $root-text-size);
$_272px: 1rem * (272 / $root-text-size);
$_273px: 1rem * (273 / $root-text-size);
$_274px: 1rem * (274 / $root-text-size);
$_275px: 1rem * (275 / $root-text-size);
$_276px: 1rem * (276 / $root-text-size);
$_277px: 1rem * (277 / $root-text-size);
$_278px: 1rem * (278 / $root-text-size);
$_279px: 1rem * (279 / $root-text-size);
$_280px: 1rem * (280 / $root-text-size);
$_281px: 1rem * (281 / $root-text-size);
$_282px: 1rem * (282 / $root-text-size);
$_283px: 1rem * (283 / $root-text-size);
$_284px: 1rem * (284 / $root-text-size);
$_285px: 1rem * (285 / $root-text-size);
$_286px: 1rem * (286 / $root-text-size);
$_287px: 1rem * (287 / $root-text-size);
$_288px: 1rem * (288 / $root-text-size);
$_289px: 1rem * (289 / $root-text-size);
$_290px: 1rem * (290 / $root-text-size);
$_291px: 1rem * (291 / $root-text-size);
$_292px: 1rem * (292 / $root-text-size);
$_293px: 1rem * (293 / $root-text-size);
$_294px: 1rem * (294 / $root-text-size);
$_295px: 1rem * (295 / $root-text-size);
$_296px: 1rem * (296 / $root-text-size);
$_297px: 1rem * (297 / $root-text-size);
$_298px: 1rem * (298 / $root-text-size);
$_299px: 1rem * (299 / $root-text-size);
$_300px: 1rem * (300 / $root-text-size);
$_301px: 1rem * (301 / $root-text-size);
$_302px: 1rem * (302 / $root-text-size);
$_303px: 1rem * (303 / $root-text-size);
$_304px: 1rem * (304 / $root-text-size);
$_305px: 1rem * (305 / $root-text-size);
$_306px: 1rem * (306 / $root-text-size);
$_307px: 1rem * (307 / $root-text-size);
$_308px: 1rem * (308 / $root-text-size);
$_309px: 1rem * (309 / $root-text-size);
$_310px: 1rem * (310 / $root-text-size);
$_311px: 1rem * (311 / $root-text-size);
$_312px: 1rem * (312 / $root-text-size);
$_313px: 1rem * (313 / $root-text-size);
$_314px: 1rem * (314 / $root-text-size);
$_315px: 1rem * (315 / $root-text-size);
$_316px: 1rem * (316 / $root-text-size);
$_317px: 1rem * (317 / $root-text-size);
$_318px: 1rem * (318 / $root-text-size);
$_319px: 1rem * (319 / $root-text-size);
$_320px: 1rem * (320 / $root-text-size);
$_321px: 1rem * (321 / $root-text-size);
$_322px: 1rem * (322 / $root-text-size);
$_323px: 1rem * (323 / $root-text-size);
$_324px: 1rem * (324 / $root-text-size);
$_325px: 1rem * (325 / $root-text-size);
$_326px: 1rem * (326 / $root-text-size);
$_327px: 1rem * (327 / $root-text-size);
$_328px: 1rem * (328 / $root-text-size);
$_329px: 1rem * (329 / $root-text-size);
$_330px: 1rem * (330 / $root-text-size);
$_331px: 1rem * (331 / $root-text-size);
$_332px: 1rem * (332 / $root-text-size);
$_333px: 1rem * (333 / $root-text-size);
$_334px: 1rem * (334 / $root-text-size);
$_335px: 1rem * (335 / $root-text-size);
$_336px: 1rem * (336 / $root-text-size);
$_337px: 1rem * (337 / $root-text-size);
$_338px: 1rem * (338 / $root-text-size);
$_339px: 1rem * (339 / $root-text-size);
$_340px: 1rem * (340 / $root-text-size);
$_341px: 1rem * (341 / $root-text-size);
$_342px: 1rem * (342 / $root-text-size);
$_343px: 1rem * (343 / $root-text-size);
$_344px: 1rem * (344 / $root-text-size);
$_345px: 1rem * (345 / $root-text-size);
$_346px: 1rem * (346 / $root-text-size);
$_347px: 1rem * (347 / $root-text-size);
$_348px: 1rem * (348 / $root-text-size);
$_349px: 1rem * (349 / $root-text-size);
$_350px: 1rem * (350 / $root-text-size);
$_351px: 1rem * (351 / $root-text-size);
$_352px: 1rem * (352 / $root-text-size);
$_353px: 1rem * (353 / $root-text-size);
$_354px: 1rem * (354 / $root-text-size);
$_355px: 1rem * (355 / $root-text-size);
$_356px: 1rem * (356 / $root-text-size);
$_357px: 1rem * (357 / $root-text-size);
$_358px: 1rem * (358 / $root-text-size);
$_359px: 1rem * (359 / $root-text-size);
$_360px: 1rem * (360 / $root-text-size);
$_361px: 1rem * (361 / $root-text-size);
$_362px: 1rem * (362 / $root-text-size);
$_363px: 1rem * (363 / $root-text-size);
$_364px: 1rem * (364 / $root-text-size);
$_365px: 1rem * (365 / $root-text-size);
$_366px: 1rem * (366 / $root-text-size);
$_367px: 1rem * (367 / $root-text-size);
$_368px: 1rem * (368 / $root-text-size);
$_369px: 1rem * (369 / $root-text-size);
$_370px: 1rem * (370 / $root-text-size);
$_371px: 1rem * (371 / $root-text-size);
$_372px: 1rem * (372 / $root-text-size);
$_373px: 1rem * (373 / $root-text-size);
$_374px: 1rem * (374 / $root-text-size);
$_375px: 1rem * (375 / $root-text-size);
$_376px: 1rem * (376 / $root-text-size);
$_377px: 1rem * (377 / $root-text-size);
$_378px: 1rem * (378 / $root-text-size);
$_379px: 1rem * (379 / $root-text-size);
$_380px: 1rem * (380 / $root-text-size);
$_381px: 1rem * (381 / $root-text-size);
$_382px: 1rem * (382 / $root-text-size);
$_383px: 1rem * (383 / $root-text-size);
$_384px: 1rem * (384 / $root-text-size);
$_385px: 1rem * (385 / $root-text-size);
$_386px: 1rem * (386 / $root-text-size);
$_387px: 1rem * (387 / $root-text-size);
$_388px: 1rem * (388 / $root-text-size);
$_389px: 1rem * (389 / $root-text-size);
$_390px: 1rem * (390 / $root-text-size);
$_391px: 1rem * (391 / $root-text-size);
$_392px: 1rem * (392 / $root-text-size);
$_393px: 1rem * (393 / $root-text-size);
$_394px: 1rem * (394 / $root-text-size);
$_395px: 1rem * (395 / $root-text-size);
$_396px: 1rem * (396 / $root-text-size);
$_397px: 1rem * (397 / $root-text-size);
$_398px: 1rem * (398 / $root-text-size);
$_399px: 1rem * (399 / $root-text-size);
$_400px: 1rem * (400 / $root-text-size);
$_401px: 1rem * (401 / $root-text-size);
$_402px: 1rem * (402 / $root-text-size);
$_403px: 1rem * (403 / $root-text-size);
$_404px: 1rem * (404 / $root-text-size);
$_405px: 1rem * (405 / $root-text-size);
$_406px: 1rem * (406 / $root-text-size);
$_407px: 1rem * (407 / $root-text-size);
$_408px: 1rem * (408 / $root-text-size);
$_409px: 1rem * (409 / $root-text-size);
$_410px: 1rem * (410 / $root-text-size);
$_411px: 1rem * (411 / $root-text-size);
$_412px: 1rem * (412 / $root-text-size);
$_413px: 1rem * (413 / $root-text-size);
$_414px: 1rem * (414 / $root-text-size);
$_415px: 1rem * (415 / $root-text-size);
$_416px: 1rem * (416 / $root-text-size);
$_417px: 1rem * (417 / $root-text-size);
$_418px: 1rem * (418 / $root-text-size);
$_419px: 1rem * (419 / $root-text-size);
$_420px: 1rem * (420 / $root-text-size);
$_421px: 1rem * (421 / $root-text-size);
$_422px: 1rem * (422 / $root-text-size);
$_423px: 1rem * (423 / $root-text-size);
$_424px: 1rem * (424 / $root-text-size);
$_425px: 1rem * (425 / $root-text-size);
$_426px: 1rem * (426 / $root-text-size);
$_427px: 1rem * (427 / $root-text-size);
$_428px: 1rem * (428 / $root-text-size);
$_429px: 1rem * (429 / $root-text-size);
$_430px: 1rem * (430 / $root-text-size);
$_431px: 1rem * (431 / $root-text-size);
$_432px: 1rem * (432 / $root-text-size);
$_433px: 1rem * (433 / $root-text-size);
$_434px: 1rem * (434 / $root-text-size);
$_435px: 1rem * (435 / $root-text-size);
$_436px: 1rem * (436 / $root-text-size);
$_437px: 1rem * (437 / $root-text-size);
$_438px: 1rem * (438 / $root-text-size);
$_439px: 1rem * (439 / $root-text-size);
$_440px: 1rem * (440 / $root-text-size);
$_441px: 1rem * (441 / $root-text-size);
$_442px: 1rem * (442 / $root-text-size);
$_443px: 1rem * (443 / $root-text-size);
$_444px: 1rem * (444 / $root-text-size);
$_445px: 1rem * (445 / $root-text-size);
$_446px: 1rem * (446 / $root-text-size);
$_447px: 1rem * (447 / $root-text-size);
$_448px: 1rem * (448 / $root-text-size);
$_449px: 1rem * (449 / $root-text-size);
$_450px: 1rem * (450 / $root-text-size);
$_451px: 1rem * (451 / $root-text-size);
$_452px: 1rem * (452 / $root-text-size);
$_453px: 1rem * (453 / $root-text-size);
$_454px: 1rem * (454 / $root-text-size);
$_455px: 1rem * (455 / $root-text-size);
$_456px: 1rem * (456 / $root-text-size);
$_457px: 1rem * (457 / $root-text-size);
$_458px: 1rem * (458 / $root-text-size);
$_459px: 1rem * (459 / $root-text-size);
$_460px: 1rem * (460 / $root-text-size);
$_461px: 1rem * (461 / $root-text-size);
$_462px: 1rem * (462 / $root-text-size);
$_463px: 1rem * (463 / $root-text-size);
$_464px: 1rem * (464 / $root-text-size);
$_465px: 1rem * (465 / $root-text-size);
$_466px: 1rem * (466 / $root-text-size);
$_467px: 1rem * (467 / $root-text-size);
$_468px: 1rem * (468 / $root-text-size);
$_469px: 1rem * (469 / $root-text-size);
$_470px: 1rem * (470 / $root-text-size);
$_471px: 1rem * (471 / $root-text-size);
$_472px: 1rem * (472 / $root-text-size);
$_473px: 1rem * (473 / $root-text-size);
$_474px: 1rem * (474 / $root-text-size);
$_475px: 1rem * (475 / $root-text-size);
$_476px: 1rem * (476 / $root-text-size);
$_477px: 1rem * (477 / $root-text-size);
$_478px: 1rem * (478 / $root-text-size);
$_479px: 1rem * (479 / $root-text-size);
$_480px: 1rem * (480 / $root-text-size);
$_481px: 1rem * (481 / $root-text-size);
$_482px: 1rem * (482 / $root-text-size);
$_483px: 1rem * (483 / $root-text-size);
$_484px: 1rem * (484 / $root-text-size);
$_485px: 1rem * (485 / $root-text-size);
$_486px: 1rem * (486 / $root-text-size);
$_487px: 1rem * (487 / $root-text-size);
$_488px: 1rem * (488 / $root-text-size);
$_489px: 1rem * (489 / $root-text-size);
$_490px: 1rem * (490 / $root-text-size);
$_491px: 1rem * (491 / $root-text-size);
$_492px: 1rem * (492 / $root-text-size);
$_493px: 1rem * (493 / $root-text-size);
$_494px: 1rem * (494 / $root-text-size);
$_495px: 1rem * (495 / $root-text-size);
$_496px: 1rem * (496 / $root-text-size);
$_497px: 1rem * (497 / $root-text-size);
$_498px: 1rem * (498 / $root-text-size);
$_499px: 1rem * (499 / $root-text-size);
$_500px: 1rem * (500 / $root-text-size);
$_501px: 1rem * (501 / $root-text-size);
$_502px: 1rem * (502 / $root-text-size);
$_503px: 1rem * (503 / $root-text-size);
$_504px: 1rem * (504 / $root-text-size);
$_505px: 1rem * (505 / $root-text-size);
$_506px: 1rem * (506 / $root-text-size);
$_507px: 1rem * (507 / $root-text-size);
$_508px: 1rem * (508 / $root-text-size);
$_509px: 1rem * (509 / $root-text-size);
$_510px: 1rem * (510 / $root-text-size);
$_511px: 1rem * (511 / $root-text-size);
$_512px: 1rem * (512 / $root-text-size);
$_513px: 1rem * (513 / $root-text-size);
$_514px: 1rem * (514 / $root-text-size);
$_515px: 1rem * (515 / $root-text-size);
$_516px: 1rem * (516 / $root-text-size);
$_517px: 1rem * (517 / $root-text-size);
$_518px: 1rem * (518 / $root-text-size);
$_519px: 1rem * (519 / $root-text-size);
$_520px: 1rem * (520 / $root-text-size);
$_521px: 1rem * (521 / $root-text-size);
$_522px: 1rem * (522 / $root-text-size);
$_523px: 1rem * (523 / $root-text-size);
$_524px: 1rem * (524 / $root-text-size);
$_525px: 1rem * (525 / $root-text-size);
$_526px: 1rem * (526 / $root-text-size);
$_527px: 1rem * (527 / $root-text-size);
$_528px: 1rem * (528 / $root-text-size);
$_529px: 1rem * (529 / $root-text-size);
$_530px: 1rem * (530 / $root-text-size);
$_531px: 1rem * (531 / $root-text-size);
$_532px: 1rem * (532 / $root-text-size);
$_533px: 1rem * (533 / $root-text-size);
$_534px: 1rem * (534 / $root-text-size);
$_535px: 1rem * (535 / $root-text-size);
$_536px: 1rem * (536 / $root-text-size);
$_537px: 1rem * (537 / $root-text-size);
$_538px: 1rem * (538 / $root-text-size);
$_539px: 1rem * (539 / $root-text-size);
$_540px: 1rem * (540 / $root-text-size);
$_541px: 1rem * (541 / $root-text-size);
$_542px: 1rem * (542 / $root-text-size);
$_543px: 1rem * (543 / $root-text-size);
$_544px: 1rem * (544 / $root-text-size);
$_545px: 1rem * (545 / $root-text-size);
$_546px: 1rem * (546 / $root-text-size);
$_547px: 1rem * (547 / $root-text-size);
$_548px: 1rem * (548 / $root-text-size);
$_549px: 1rem * (549 / $root-text-size);
$_550px: 1rem * (550 / $root-text-size);
$_551px: 1rem * (551 / $root-text-size);
$_552px: 1rem * (552 / $root-text-size);
$_553px: 1rem * (553 / $root-text-size);
$_554px: 1rem * (554 / $root-text-size);
$_555px: 1rem * (555 / $root-text-size);
$_556px: 1rem * (556 / $root-text-size);
$_557px: 1rem * (557 / $root-text-size);
$_558px: 1rem * (558 / $root-text-size);
$_559px: 1rem * (559 / $root-text-size);
$_560px: 1rem * (560 / $root-text-size);
$_561px: 1rem * (561 / $root-text-size);
$_562px: 1rem * (562 / $root-text-size);
$_563px: 1rem * (563 / $root-text-size);
$_564px: 1rem * (564 / $root-text-size);
$_565px: 1rem * (565 / $root-text-size);
$_566px: 1rem * (566 / $root-text-size);
$_567px: 1rem * (567 / $root-text-size);
$_568px: 1rem * (568 / $root-text-size);
$_569px: 1rem * (569 / $root-text-size);
$_570px: 1rem * (570 / $root-text-size);
$_571px: 1rem * (571 / $root-text-size);
$_572px: 1rem * (572 / $root-text-size);
$_573px: 1rem * (573 / $root-text-size);
$_574px: 1rem * (574 / $root-text-size);
$_575px: 1rem * (575 / $root-text-size);
$_576px: 1rem * (576 / $root-text-size);
$_577px: 1rem * (577 / $root-text-size);
$_578px: 1rem * (578 / $root-text-size);
$_579px: 1rem * (579 / $root-text-size);
$_580px: 1rem * (580 / $root-text-size);
$_581px: 1rem * (581 / $root-text-size);
$_582px: 1rem * (582 / $root-text-size);
$_583px: 1rem * (583 / $root-text-size);
$_584px: 1rem * (584 / $root-text-size);
$_585px: 1rem * (585 / $root-text-size);
$_586px: 1rem * (586 / $root-text-size);
$_587px: 1rem * (587 / $root-text-size);
$_588px: 1rem * (588 / $root-text-size);
$_589px: 1rem * (589 / $root-text-size);
$_590px: 1rem * (590 / $root-text-size);
$_591px: 1rem * (591 / $root-text-size);
$_592px: 1rem * (592 / $root-text-size);
$_593px: 1rem * (593 / $root-text-size);
$_594px: 1rem * (594 / $root-text-size);
$_595px: 1rem * (595 / $root-text-size);
$_596px: 1rem * (596 / $root-text-size);
$_597px: 1rem * (597 / $root-text-size);
$_598px: 1rem * (598 / $root-text-size);
$_599px: 1rem * (599 / $root-text-size);
$_600px: 1rem * (600 / $root-text-size);
$_601px: 1rem * (601 / $root-text-size);
$_602px: 1rem * (602 / $root-text-size);
$_603px: 1rem * (603 / $root-text-size);
$_604px: 1rem * (604 / $root-text-size);
$_605px: 1rem * (605 / $root-text-size);
$_606px: 1rem * (606 / $root-text-size);
$_607px: 1rem * (607 / $root-text-size);
$_608px: 1rem * (608 / $root-text-size);
$_609px: 1rem * (609 / $root-text-size);
$_610px: 1rem * (610 / $root-text-size);
$_611px: 1rem * (611 / $root-text-size);
$_612px: 1rem * (612 / $root-text-size);
$_613px: 1rem * (613 / $root-text-size);
$_614px: 1rem * (614 / $root-text-size);
$_615px: 1rem * (615 / $root-text-size);
$_616px: 1rem * (616 / $root-text-size);
$_617px: 1rem * (617 / $root-text-size);
$_618px: 1rem * (618 / $root-text-size);
$_619px: 1rem * (619 / $root-text-size);
$_620px: 1rem * (620 / $root-text-size);
$_621px: 1rem * (621 / $root-text-size);
$_622px: 1rem * (622 / $root-text-size);
$_623px: 1rem * (623 / $root-text-size);
$_624px: 1rem * (624 / $root-text-size);
$_625px: 1rem * (625 / $root-text-size);
$_626px: 1rem * (626 / $root-text-size);
$_627px: 1rem * (627 / $root-text-size);
$_628px: 1rem * (628 / $root-text-size);
$_629px: 1rem * (629 / $root-text-size);
$_630px: 1rem * (630 / $root-text-size);
$_631px: 1rem * (631 / $root-text-size);
$_632px: 1rem * (632 / $root-text-size);
$_633px: 1rem * (633 / $root-text-size);
$_634px: 1rem * (634 / $root-text-size);
$_635px: 1rem * (635 / $root-text-size);
$_636px: 1rem * (636 / $root-text-size);
$_637px: 1rem * (637 / $root-text-size);
$_638px: 1rem * (638 / $root-text-size);
$_639px: 1rem * (639 / $root-text-size);
$_640px: 1rem * (640 / $root-text-size);
$_641px: 1rem * (641 / $root-text-size);
$_642px: 1rem * (642 / $root-text-size);
$_643px: 1rem * (643 / $root-text-size);
$_644px: 1rem * (644 / $root-text-size);
$_645px: 1rem * (645 / $root-text-size);
$_646px: 1rem * (646 / $root-text-size);
$_647px: 1rem * (647 / $root-text-size);
$_648px: 1rem * (648 / $root-text-size);
$_649px: 1rem * (649 / $root-text-size);
$_650px: 1rem * (650 / $root-text-size);
$_651px: 1rem * (651 / $root-text-size);
$_652px: 1rem * (652 / $root-text-size);
$_653px: 1rem * (653 / $root-text-size);
$_654px: 1rem * (654 / $root-text-size);
$_655px: 1rem * (655 / $root-text-size);
$_656px: 1rem * (656 / $root-text-size);
$_657px: 1rem * (657 / $root-text-size);
$_658px: 1rem * (658 / $root-text-size);
$_659px: 1rem * (659 / $root-text-size);
$_660px: 1rem * (660 / $root-text-size);
$_661px: 1rem * (661 / $root-text-size);
$_662px: 1rem * (662 / $root-text-size);
$_663px: 1rem * (663 / $root-text-size);
$_664px: 1rem * (664 / $root-text-size);
$_665px: 1rem * (665 / $root-text-size);
$_666px: 1rem * (666 / $root-text-size);
$_667px: 1rem * (667 / $root-text-size);
$_668px: 1rem * (668 / $root-text-size);
$_669px: 1rem * (669 / $root-text-size);
$_670px: 1rem * (670 / $root-text-size);
$_671px: 1rem * (671 / $root-text-size);
$_672px: 1rem * (672 / $root-text-size);
$_673px: 1rem * (673 / $root-text-size);
$_674px: 1rem * (674 / $root-text-size);
$_675px: 1rem * (675 / $root-text-size);
$_676px: 1rem * (676 / $root-text-size);
$_677px: 1rem * (677 / $root-text-size);
$_678px: 1rem * (678 / $root-text-size);
$_679px: 1rem * (679 / $root-text-size);
$_680px: 1rem * (680 / $root-text-size);
$_681px: 1rem * (681 / $root-text-size);
$_682px: 1rem * (682 / $root-text-size);
$_683px: 1rem * (683 / $root-text-size);
$_684px: 1rem * (684 / $root-text-size);
$_685px: 1rem * (685 / $root-text-size);
$_686px: 1rem * (686 / $root-text-size);
$_687px: 1rem * (687 / $root-text-size);
$_688px: 1rem * (688 / $root-text-size);
$_689px: 1rem * (689 / $root-text-size);
$_690px: 1rem * (690 / $root-text-size);
$_691px: 1rem * (691 / $root-text-size);
$_692px: 1rem * (692 / $root-text-size);
$_693px: 1rem * (693 / $root-text-size);
$_694px: 1rem * (694 / $root-text-size);
$_695px: 1rem * (695 / $root-text-size);
$_696px: 1rem * (696 / $root-text-size);
$_697px: 1rem * (697 / $root-text-size);
$_698px: 1rem * (698 / $root-text-size);
$_699px: 1rem * (699 / $root-text-size);
$_700px: 1rem * (700 / $root-text-size);
$_701px: 1rem * (701 / $root-text-size);
$_702px: 1rem * (702 / $root-text-size);
$_703px: 1rem * (703 / $root-text-size);
$_704px: 1rem * (704 / $root-text-size);
$_705px: 1rem * (705 / $root-text-size);
$_706px: 1rem * (706 / $root-text-size);
$_707px: 1rem * (707 / $root-text-size);
$_708px: 1rem * (708 / $root-text-size);
$_709px: 1rem * (709 / $root-text-size);
$_710px: 1rem * (710 / $root-text-size);
$_711px: 1rem * (711 / $root-text-size);
$_712px: 1rem * (712 / $root-text-size);
$_713px: 1rem * (713 / $root-text-size);
$_714px: 1rem * (714 / $root-text-size);
$_715px: 1rem * (715 / $root-text-size);
$_716px: 1rem * (716 / $root-text-size);
$_717px: 1rem * (717 / $root-text-size);
$_718px: 1rem * (718 / $root-text-size);
$_719px: 1rem * (719 / $root-text-size);
$_720px: 1rem * (720 / $root-text-size);
$_721px: 1rem * (721 / $root-text-size);
$_722px: 1rem * (722 / $root-text-size);
$_723px: 1rem * (723 / $root-text-size);
$_724px: 1rem * (724 / $root-text-size);
$_725px: 1rem * (725 / $root-text-size);
$_726px: 1rem * (726 / $root-text-size);
$_727px: 1rem * (727 / $root-text-size);
$_728px: 1rem * (728 / $root-text-size);
$_729px: 1rem * (729 / $root-text-size);
$_730px: 1rem * (730 / $root-text-size);
$_731px: 1rem * (731 / $root-text-size);
$_732px: 1rem * (732 / $root-text-size);
$_733px: 1rem * (733 / $root-text-size);
$_734px: 1rem * (734 / $root-text-size);
$_735px: 1rem * (735 / $root-text-size);
$_736px: 1rem * (736 / $root-text-size);
$_737px: 1rem * (737 / $root-text-size);
$_738px: 1rem * (738 / $root-text-size);
$_739px: 1rem * (739 / $root-text-size);
$_740px: 1rem * (740 / $root-text-size);
$_741px: 1rem * (741 / $root-text-size);
$_742px: 1rem * (742 / $root-text-size);
$_743px: 1rem * (743 / $root-text-size);
$_744px: 1rem * (744 / $root-text-size);
$_745px: 1rem * (745 / $root-text-size);
$_746px: 1rem * (746 / $root-text-size);
$_747px: 1rem * (747 / $root-text-size);
$_748px: 1rem * (748 / $root-text-size);
$_749px: 1rem * (749 / $root-text-size);
$_750px: 1rem * (750 / $root-text-size);
$_751px: 1rem * (751 / $root-text-size);
$_752px: 1rem * (752 / $root-text-size);
$_753px: 1rem * (753 / $root-text-size);
$_754px: 1rem * (754 / $root-text-size);
$_755px: 1rem * (755 / $root-text-size);
$_756px: 1rem * (756 / $root-text-size);
$_757px: 1rem * (757 / $root-text-size);
$_758px: 1rem * (758 / $root-text-size);
$_759px: 1rem * (759 / $root-text-size);
$_760px: 1rem * (760 / $root-text-size);
$_761px: 1rem * (761 / $root-text-size);
$_762px: 1rem * (762 / $root-text-size);
$_763px: 1rem * (763 / $root-text-size);
$_764px: 1rem * (764 / $root-text-size);
$_765px: 1rem * (765 / $root-text-size);
$_766px: 1rem * (766 / $root-text-size);
$_767px: 1rem * (767 / $root-text-size);
$_768px: 1rem * (768 / $root-text-size);
$_769px: 1rem * (769 / $root-text-size);
$_770px: 1rem * (770 / $root-text-size);
$_771px: 1rem * (771 / $root-text-size);
$_772px: 1rem * (772 / $root-text-size);
$_773px: 1rem * (773 / $root-text-size);
$_774px: 1rem * (774 / $root-text-size);
$_775px: 1rem * (775 / $root-text-size);
$_776px: 1rem * (776 / $root-text-size);
$_777px: 1rem * (777 / $root-text-size);
$_778px: 1rem * (778 / $root-text-size);
$_779px: 1rem * (779 / $root-text-size);
$_780px: 1rem * (780 / $root-text-size);
$_781px: 1rem * (781 / $root-text-size);
$_782px: 1rem * (782 / $root-text-size);
$_783px: 1rem * (783 / $root-text-size);
$_784px: 1rem * (784 / $root-text-size);
$_785px: 1rem * (785 / $root-text-size);
$_786px: 1rem * (786 / $root-text-size);
$_787px: 1rem * (787 / $root-text-size);
$_788px: 1rem * (788 / $root-text-size);
$_789px: 1rem * (789 / $root-text-size);
$_790px: 1rem * (790 / $root-text-size);
$_791px: 1rem * (791 / $root-text-size);
$_792px: 1rem * (792 / $root-text-size);
$_793px: 1rem * (793 / $root-text-size);
$_794px: 1rem * (794 / $root-text-size);
$_795px: 1rem * (795 / $root-text-size);
$_796px: 1rem * (796 / $root-text-size);
$_797px: 1rem * (797 / $root-text-size);
$_798px: 1rem * (798 / $root-text-size);
$_799px: 1rem * (799 / $root-text-size);
$_800px: 1rem * (800 / $root-text-size);
$_801px: 1rem * (801 / $root-text-size);
$_802px: 1rem * (802 / $root-text-size);
$_803px: 1rem * (803 / $root-text-size);
$_804px: 1rem * (804 / $root-text-size);
$_805px: 1rem * (805 / $root-text-size);
$_806px: 1rem * (806 / $root-text-size);
$_807px: 1rem * (807 / $root-text-size);
$_808px: 1rem * (808 / $root-text-size);
$_809px: 1rem * (809 / $root-text-size);
$_810px: 1rem * (810 / $root-text-size);
$_811px: 1rem * (811 / $root-text-size);
$_812px: 1rem * (812 / $root-text-size);
$_813px: 1rem * (813 / $root-text-size);
$_814px: 1rem * (814 / $root-text-size);
$_815px: 1rem * (815 / $root-text-size);
$_816px: 1rem * (816 / $root-text-size);
$_817px: 1rem * (817 / $root-text-size);
$_818px: 1rem * (818 / $root-text-size);
$_819px: 1rem * (819 / $root-text-size);
$_820px: 1rem * (820 / $root-text-size);
$_821px: 1rem * (821 / $root-text-size);
$_822px: 1rem * (822 / $root-text-size);
$_823px: 1rem * (823 / $root-text-size);
$_824px: 1rem * (824 / $root-text-size);
$_825px: 1rem * (825 / $root-text-size);
$_826px: 1rem * (826 / $root-text-size);
$_827px: 1rem * (827 / $root-text-size);
$_828px: 1rem * (828 / $root-text-size);
$_829px: 1rem * (829 / $root-text-size);
$_830px: 1rem * (830 / $root-text-size);
$_831px: 1rem * (831 / $root-text-size);
$_832px: 1rem * (832 / $root-text-size);
$_833px: 1rem * (833 / $root-text-size);
$_834px: 1rem * (834 / $root-text-size);
$_835px: 1rem * (835 / $root-text-size);
$_836px: 1rem * (836 / $root-text-size);
$_837px: 1rem * (837 / $root-text-size);
$_838px: 1rem * (838 / $root-text-size);
$_839px: 1rem * (839 / $root-text-size);
$_840px: 1rem * (840 / $root-text-size);
$_841px: 1rem * (841 / $root-text-size);
$_842px: 1rem * (842 / $root-text-size);
$_843px: 1rem * (843 / $root-text-size);
$_844px: 1rem * (844 / $root-text-size);
$_845px: 1rem * (845 / $root-text-size);
$_846px: 1rem * (846 / $root-text-size);
$_847px: 1rem * (847 / $root-text-size);
$_848px: 1rem * (848 / $root-text-size);
$_849px: 1rem * (849 / $root-text-size);
$_850px: 1rem * (850 / $root-text-size);
$_851px: 1rem * (851 / $root-text-size);
$_852px: 1rem * (852 / $root-text-size);
$_853px: 1rem * (853 / $root-text-size);
$_854px: 1rem * (854 / $root-text-size);
$_855px: 1rem * (855 / $root-text-size);
$_856px: 1rem * (856 / $root-text-size);
$_857px: 1rem * (857 / $root-text-size);
$_858px: 1rem * (858 / $root-text-size);
$_859px: 1rem * (859 / $root-text-size);
$_860px: 1rem * (860 / $root-text-size);
$_861px: 1rem * (861 / $root-text-size);
$_862px: 1rem * (862 / $root-text-size);
$_863px: 1rem * (863 / $root-text-size);
$_864px: 1rem * (864 / $root-text-size);
$_865px: 1rem * (865 / $root-text-size);
$_866px: 1rem * (866 / $root-text-size);
$_867px: 1rem * (867 / $root-text-size);
$_868px: 1rem * (868 / $root-text-size);
$_869px: 1rem * (869 / $root-text-size);
$_870px: 1rem * (870 / $root-text-size);
$_871px: 1rem * (871 / $root-text-size);
$_872px: 1rem * (872 / $root-text-size);
$_873px: 1rem * (873 / $root-text-size);
$_874px: 1rem * (874 / $root-text-size);
$_875px: 1rem * (875 / $root-text-size);
$_876px: 1rem * (876 / $root-text-size);
$_877px: 1rem * (877 / $root-text-size);
$_878px: 1rem * (878 / $root-text-size);
$_879px: 1rem * (879 / $root-text-size);
$_880px: 1rem * (880 / $root-text-size);
$_881px: 1rem * (881 / $root-text-size);
$_882px: 1rem * (882 / $root-text-size);
$_883px: 1rem * (883 / $root-text-size);
$_884px: 1rem * (884 / $root-text-size);
$_885px: 1rem * (885 / $root-text-size);
$_886px: 1rem * (886 / $root-text-size);
$_887px: 1rem * (887 / $root-text-size);
$_888px: 1rem * (888 / $root-text-size);
$_889px: 1rem * (889 / $root-text-size);
$_890px: 1rem * (890 / $root-text-size);
$_891px: 1rem * (891 / $root-text-size);
$_892px: 1rem * (892 / $root-text-size);
$_893px: 1rem * (893 / $root-text-size);
$_894px: 1rem * (894 / $root-text-size);
$_895px: 1rem * (895 / $root-text-size);
$_896px: 1rem * (896 / $root-text-size);
$_897px: 1rem * (897 / $root-text-size);
$_898px: 1rem * (898 / $root-text-size);
$_899px: 1rem * (899 / $root-text-size);
$_900px: 1rem * (900 / $root-text-size);
$_901px: 1rem * (901 / $root-text-size);
$_902px: 1rem * (902 / $root-text-size);
$_903px: 1rem * (903 / $root-text-size);
$_904px: 1rem * (904 / $root-text-size);
$_905px: 1rem * (905 / $root-text-size);
$_906px: 1rem * (906 / $root-text-size);
$_907px: 1rem * (907 / $root-text-size);
$_908px: 1rem * (908 / $root-text-size);
$_909px: 1rem * (909 / $root-text-size);
$_910px: 1rem * (910 / $root-text-size);
$_911px: 1rem * (911 / $root-text-size);
$_912px: 1rem * (912 / $root-text-size);
$_913px: 1rem * (913 / $root-text-size);
$_914px: 1rem * (914 / $root-text-size);
$_915px: 1rem * (915 / $root-text-size);
$_916px: 1rem * (916 / $root-text-size);
$_917px: 1rem * (917 / $root-text-size);
$_918px: 1rem * (918 / $root-text-size);
$_919px: 1rem * (919 / $root-text-size);
$_920px: 1rem * (920 / $root-text-size);
$_921px: 1rem * (921 / $root-text-size);
$_922px: 1rem * (922 / $root-text-size);
$_923px: 1rem * (923 / $root-text-size);
$_924px: 1rem * (924 / $root-text-size);
$_925px: 1rem * (925 / $root-text-size);
$_926px: 1rem * (926 / $root-text-size);
$_927px: 1rem * (927 / $root-text-size);
$_928px: 1rem * (928 / $root-text-size);
$_929px: 1rem * (929 / $root-text-size);
$_930px: 1rem * (930 / $root-text-size);
$_931px: 1rem * (931 / $root-text-size);
$_932px: 1rem * (932 / $root-text-size);
$_933px: 1rem * (933 / $root-text-size);
$_934px: 1rem * (934 / $root-text-size);
$_935px: 1rem * (935 / $root-text-size);
$_936px: 1rem * (936 / $root-text-size);
$_937px: 1rem * (937 / $root-text-size);
$_938px: 1rem * (938 / $root-text-size);
$_939px: 1rem * (939 / $root-text-size);
$_940px: 1rem * (940 / $root-text-size);
$_941px: 1rem * (941 / $root-text-size);
$_942px: 1rem * (942 / $root-text-size);
$_943px: 1rem * (943 / $root-text-size);
$_944px: 1rem * (944 / $root-text-size);
$_945px: 1rem * (945 / $root-text-size);
$_946px: 1rem * (946 / $root-text-size);
$_947px: 1rem * (947 / $root-text-size);
$_948px: 1rem * (948 / $root-text-size);
$_949px: 1rem * (949 / $root-text-size);
$_950px: 1rem * (950 / $root-text-size);
$_951px: 1rem * (951 / $root-text-size);
$_952px: 1rem * (952 / $root-text-size);
$_953px: 1rem * (953 / $root-text-size);
$_954px: 1rem * (954 / $root-text-size);
$_955px: 1rem * (955 / $root-text-size);
$_956px: 1rem * (956 / $root-text-size);
$_957px: 1rem * (957 / $root-text-size);
$_958px: 1rem * (958 / $root-text-size);
$_959px: 1rem * (959 / $root-text-size);
$_960px: 1rem * (960 / $root-text-size);
$_961px: 1rem * (961 / $root-text-size);
$_962px: 1rem * (962 / $root-text-size);
$_963px: 1rem * (963 / $root-text-size);
$_964px: 1rem * (964 / $root-text-size);
$_965px: 1rem * (965 / $root-text-size);
$_966px: 1rem * (966 / $root-text-size);
$_967px: 1rem * (967 / $root-text-size);
$_968px: 1rem * (968 / $root-text-size);
$_969px: 1rem * (969 / $root-text-size);
$_970px: 1rem * (970 / $root-text-size);
$_971px: 1rem * (971 / $root-text-size);
$_972px: 1rem * (972 / $root-text-size);
$_973px: 1rem * (973 / $root-text-size);
$_974px: 1rem * (974 / $root-text-size);
$_975px: 1rem * (975 / $root-text-size);
$_976px: 1rem * (976 / $root-text-size);
$_977px: 1rem * (977 / $root-text-size);
$_978px: 1rem * (978 / $root-text-size);
$_979px: 1rem * (979 / $root-text-size);
$_980px: 1rem * (980 / $root-text-size);
$_981px: 1rem * (981 / $root-text-size);
$_982px: 1rem * (982 / $root-text-size);
$_983px: 1rem * (983 / $root-text-size);
$_984px: 1rem * (984 / $root-text-size);
$_985px: 1rem * (985 / $root-text-size);
$_986px: 1rem * (986 / $root-text-size);
$_987px: 1rem * (987 / $root-text-size);
$_988px: 1rem * (988 / $root-text-size);
$_989px: 1rem * (989 / $root-text-size);
$_990px: 1rem * (990 / $root-text-size);
$_991px: 1rem * (991 / $root-text-size);
$_992px: 1rem * (992 / $root-text-size);
$_993px: 1rem * (993 / $root-text-size);
$_994px: 1rem * (994 / $root-text-size);
$_995px: 1rem * (995 / $root-text-size);
$_996px: 1rem * (996 / $root-text-size);
$_997px: 1rem * (997 / $root-text-size);
$_998px: 1rem * (998 / $root-text-size);
$_999px: 1rem * (999 / $root-text-size);
$_1000px: 1rem * (1000 / $root-text-size);
$_1150px: 1rem * (1150 / $root-text-size);

//============================================================
//
// easing
//
// Thanks to Robert Penner for his sterling work on easing,
// and to Matthew Lein for converting these functions into
// approximated cubic-bezier functions. Respect.
//
// $see http://robertpenner.com/
// $see http://matthewlein.com/ceaser/
//
//============================================================

// Cubic
$easeInCubic    : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic   : cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1);

// Circ
$easeInCirc     : cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc    : cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.15, 0.86);

// Expo
$easeInExpo     : cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo  : cubic-bezier(1, 0, 0, 1);

// Quad
$easeInQuad     : cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad    : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad  : cubic-bezier(0.455, 0.03, 0.515, 0.955);

// Quart
$easeInQuart    : cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart   : cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart : cubic-bezier(0.77, 0, 0.175, 1);

// Quint
$easeInQuint    : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint   : cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint : cubic-bezier(0.86, 0, 0.07, 1);

// Sine
$easeInSine     : cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine    : cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine  : cubic-bezier(0.445, 0.05, 0.55, 0.95);

// Back
$easeInBack     : cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack  : cubic-bezier(0.68, -0.55, 0.265, 1.55);
